 Variables in order:
 CRIM     per capita crime rate by town
 ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
 INDUS    proportion of non-retail business acres per town
 CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
 NOX      nitric oxides concentration (parts per 10 million)
 RM       average number of rooms per dwelling
 AGE      proportion of owner-occupied units built prior to 1940
 DIS      weighted distances to five Boston employment centres
 RAD      index of accessibility to radial highways
 TAX      full-value property-tax rate per $10,000
 PTRATIO  pupil-teacher ratio by town
 B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
 LSTAT     lower status of the population
 MEDV     Median value of owner-occupied homes in $1000's

In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [93]:
df = pd.read_csv('boston.csv')

In [94]:
TAX_avg = sum(df['TAX'])/df.shape[0]

In [95]:
df['TAX'] = df['TAX']/TAX_avg

In [96]:
B_avg = sum(df['B'])/df.shape[0]
B_avg

356.67402960597883

In [97]:
df['CRIM'] = df['CRIM']*10

In [98]:
df['B'] = df['B']/B_avg
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.0632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,0.725069,15.300000,1.112781,4.98,24.000000
1,0.2731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,0.592793,17.799999,1.112781,9.14,21.600000
2,0.2729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,0.592793,17.799999,1.101370,4.03,34.700001
3,0.3237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,0.543802,18.700001,1.106416,2.94,33.400002
4,0.6905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,0.543802,18.700001,1.112781,5.33,36.200001

In [99]:
from sklearn.model_selection import train_test_split
X = df.drop(['MV'],axis=1)
y = df['MV']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state=42)
train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,DIS,RAD,TAX,PT,B,LSTAT
4,0.6905,0.0,2.18,0,0.458,7.147,6.0622,3,0.543802,18.700001,1.112781,5.33
5,0.2985,0.0,2.18,0,0.458,6.430,6.0622,3,0.543802,18.700001,1.104987,5.21
6,0.8829,12.5,7.87,0,0.524,6.012,5.5605,5,0.761812,15.200000,1.109136,12.43
7,1.4455,12.5,7.87,0,0.524,6.172,5.9505,5,0.761812,15.200000,1.112781,19.15
8,2.1124,12.5,7.87,0,0.524,5.631,6.0821,5,0.761812,15.200000,1.083987,29.93

In [100]:
y_test.head()

173    23.600000
274    32.400002
491    13.600000
72     22.799999
452    16.100000
Name: MV, dtype: float64

In [105]:
regr = LinearRegression()
regr.fit(X_train,y_train)
op_pred = regr.predict(X_test)
op_pred

array([28.53469377, 36.61870001, 15.63750986, 25.50145005, 18.70967266,
       23.16471513, 17.31011053, 14.07736198, 23.01064501, 20.5422342 ,
       24.91632442, 18.41098123, -6.52079718, 21.83372521, 19.14903162,
       26.05873204, 20.30232778,  5.74943612, 40.33137873, 17.45791454,
       27.47486582, 30.21707533, 10.80555587, 23.87721633, 17.99492242,
       16.02608901, 23.26828785, 14.368253  , 22.38116965, 19.30920676,
       22.17284562, 25.05925465, 25.13780773, 18.46730266, 16.60405734,
       17.46564059, 30.71367711, 20.05106701, 23.98977739, 24.94322391,
       13.9794529 , 31.64706959, 42.48057348, 17.7004281 , 26.92507826,
       17.15897643, 13.68918152, 26.14924204, 20.27823006, 29.9900334 ,
       21.21260324, 34.03649208, 15.4183765 , 25.95781138, 39.13897133,
       22.96118412, 18.80310456, 33.07865294, 24.74384149, 12.83641096,
       22.41963393, 30.6480507 , 31.59567178, 16.34088187, 20.95043079,
       16.70145815, 20.23215641, 26.14378693, 31.12160861, 11.89762679,
       20.45432378, 27.48356433, 10.89034174, 16.77707237, 24.02593639,
        5.44691784, 21.35152332, 41.2726725 , 18.13447657,  9.80121052,
       21.2402449 , 13.02645077, 21.80198488,  9.48201677, 22.99183702,
       31.90465552, 18.95594763, 25.4851502 , 29.49687015, 20.07282437,
       25.56160627,  5.59584345, 20.18410917, 15.08773236, 14.34562273,
       20.85155445, 24.80149483, -0.19785404, 13.57648976, 15.64401734,
       22.03765757, 24.70314397, 10.86409104, 19.60231119, 23.73429298,
       12.08082172, 18.40998054, 25.43661622, 20.76506638, 24.68588276,
        7.4995824 , 18.93015718, 21.70801724, 27.14350646, 31.93765249,
       15.19483651, 34.01357371, 12.8576313 , 21.06646034, 28.58470034,
       15.77437576, 24.77512533,  3.64655425, 23.9116965 , 25.82293022,
       23.03339645, 25.35158298, 33.0565554 , 20.65930376, 38.18917471,
       14.04714324, 25.26034542, 17.61387239, 20.60883825,  9.85255345,
       21.06757076, 22.20145541, 32.29202788, 31.57638356, 15.29265891,
       16.71002239, 29.10550906, 25.17762452, 16.88159175,  6.32621897,
       26.70210284, 23.35258527, 17.24168162, 13.2281583 , 39.49907636,
       16.53528556, 18.14635799, 25.0662026 , 23.70640371, 22.20167883,
       21.22272347, 16.89826075, 23.15518204, 28.69699763,  6.65526475,
       23.98399934, 17.21004596, 21.05744379, 25.01734545, 27.65461757,
       20.70205793, 40.38214606])

In [102]:
from sklearn.metrics import mean_squared_error, r2_score,accuracy_score
print("Mean squared error: %.2f"
      % mean_squared_error(y_test,op_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, op_pred))

Mean squared error: 20.72
Variance score: 0.73

In [106]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
op2 = clf.predict(X_test)
op2

ValueError: Unknown label type: 'continuous'